# Virtual environment
.venv/

# macOS
.DS_Store

# Office documents
*.pptx
*.docx

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Output artifacts
output/
